.c-projects {
  outline: 1px solid white;
  background-color: #e0afa0;
  padding-bottom: 100px;
}
.c-projects__heading {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #415a77;
}
.l-project-wrapper {
  margin-top: 2rem;
  outline: 1px solid white;
}

.c-proj {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 30px;
  background: #415a77;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  figure {
    img {
      width: 100%;
      border-radius: 30px 30px 0 0;
    }
    p {
      color: white;
      text-align: center;
    }
    h2 {
      text-align: center;
      margin: 0.5rem 1rem;
      color: white;
    }
  }
  button {
    margin: 0.5rem 1rem 1rem;
    padding: 0.5rem;
    width: calc(100% - 2rem);
    color: black;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 30px;
  }
}
