.main-content {
  position: relative;
  top: 350px;
  padding-left: 300px;
  flex: auto;
  h1 {
    color: white;
  }
  p {
    margin-top: 1rem;
    color: white;
  }
  img {
    border-radius: 300px;
    width: 250px;
  }
}

.main {
  position: relative;
  background-color: #e0afa0;
}

// .c-main {
//   margin-top: calc(2rem + 50px);
//   height: calc(100vh - 2rem - 50px);
// }
// .c-main__content {
//   position: relative;
//   top: 45%;
//   left: 0;
//   p {
//     margin-top: 1rem;
//   }
//

.c-main__contact {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 210px;
  color: #1b263b;
  background: #e0afa0;
  display: inline-block;
  margin-top: 1rem;
  margin-right: 50px;
}

.c-main__projects {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 210px;
  color: #1b263b;
  background: #e0afa0;
  display: inline-block;
  margin-top: 1rem;
}
.arrow-down {
  position: absolute;
  bottom: 3rem;
  left: 50%;
}
