.c-contact {
  outline: 1px solid grey;
  h1 {
    margin-top: 2rem;
    text-align: center;
    color: white;
  }
  background-color: #415a77;
  padding-bottom: 30px;
}

.contact-icon {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
