.c-header {
  background: #415a77;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.c-header__logo {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
